<html>
    <%-include('./partials/head.ejs')%>
    <body>
        <%-include('./partials/nav.ejs')%>
        <div id="detail-container">
            <h2><%=email.email%></h1> 
            <div id="detail-content-container">
                <h3><%=email.subject%></h1>    
                <p>
                    <%=email.message%>
                </p>  
                <a class="delete" data-doc="<%=email._id%>">Delete </a>
            </div>           
        </div>
        <%- include('./partials/footer.ejs')%>
        <script>
            const trashcan=document.querySelector('a.delete');
            trashcan.addEventListener('click',async (event)=>{
                
                const endpoint=`/form/${trashcan.dataset.doc}`;
               
                let response = await fetch(endpoint,{
                    method:'DELETE'
                });

                let data=await response.json();
                window.location.href=data.redirect;
                

            });
        </script>


    </body>

</html>