<html>
    <%- include('./partials/head.ejs')%> 
        
    <body>
        
        <%- include('./partials/nav.ejs')%>
        <div class="mainForm">
          <form>
           
            <% if(emails.length > 0 ) { %>
                <% emails.forEach(email => { %>
                    <a class="single" href="/form/<%=email._id%>">
                        <h3 class='title-blog'><%= email.email %></h3>
                        <h3 class='title-blog'><%= email.subject %></h3>
                        <p class='snippet-blog'><%= email.message %></p>
                    </a>
                <% }); %>
            <% }else { %>    
                <p>THere are no blogs to display</p>
            <%}%>
          </form> 
        </div>
        <%- include('./partials/footer.ejs')%>
        
    </body>

</html>