<html>
    <%- include('./partials/head.ejs')%> 
        
    <body>
        
        <%- include('./partials/nav.ejs')%>
        <div class="mainForm">
          <form>
           
            <% if(blogs.length > 0 ) { %>
                <% blogs.forEach(blog => { %>
                    <h3 class='title-blog'><%= blog.title %></h3>
                    <p class='snippet-blog'><%= blog.snippet %></p>
                <% }); %>
            <% }else { %>    
                <p>THere are no blogs to display</p>
            <%}%>
          </form> 
        </div>
        <%- include('./partials/footer.ejs')%>
        
    </body>

</html>